*{
   font-family: "Roboto", monospace;
  
     text-align: center;


}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.cart1{
  color: black;
}
.nav {

          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          background-color: #AC3F21;
          background-color: rgba(0,0,0,0.5);
          font-family: "Roboto", monospace;
          font-size: 15px;
          

}
.nav-bg{
  background-color: white;

}
.login-image {
   border-radius: 25px;

}
#submitBtn {
  background-color: grey;
}
.line {
   border:none;
          border-top:3px solid #59e2c5;
          width: 100%;
          text-align: center;
}
.text1 {
 color: black;
 font-size: .8rem;
}
 .banner {
  border: none;
background-color: ;
resize: none;
outline: none;
 }
.banner-bg {
   background-image: url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fENBUkVFUiUyMFJPQUQlMjBNQVB8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.exp-bg {
   background-image: url("https://media.istockphoto.com/id/1337381696/photo/keep-learning-concept-letters-of-the-alphabet-on-a-chalk-board-drawn-arrows.jpg?s=612x612&w=0&k=20&c=IxE3IfYjEHhUfwljKnNe_j-xqxfP4e8ghSAPFiDFIMQ=");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
 
}

.educ-bg {
   background-image: url("https://media.istockphoto.com/id/1224771284/photo/online-education.jpg?s=612x612&w=0&k=20&c=O2byBqkFBjovWkUOjvpop_OVocZ_zUWb3SEhS43a8c8=");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
 
}



.product-title {
   font-weight: bold;
}
header {
  padding: 1rem 0;
}

.main-content {
  margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.product-detail {
  padding: 0 2rem;
  font-size: 1rem;

}

.product-price {
  font-weight: bold;
  font-size: 140%;
}
.myProduct {
   font-weight: bold;
}
.nav-name {
   font-weight: bold;
    font-weight: 900;
     color: red;
}

.bg-specific {
 
  background-size: 100%;

  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;

}

.bg-banner {
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.post {
  display: flex;
  text-decoration: none;
  position: relative;
  padding: 5rem;
  background-color: #fff;
  cursor: pointer;
}
.post:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height:100%;
  background-color: #2125299d;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: 0.4s ease-out;
}
.post:hover .post-title {
  color: #fff;
}
.post:hover:before {
  transform: scaleY(1);
}
.post-title {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.333;
  transition: 0.4s ease-out;
  color: orange;
}

.c1 {
  background-image: url(./images/c1.jpg);
  background-size: cover;
}
.c2 {
  background-image: url(./images/c2.png);
  background-size: cover;
}
.c3 {
  background-image: url(./images/c3.jpg);
  background-size: cover;
}
.c4 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyUpaRb4laRD1fZ8W3k7RQ8dR4vF31AJCSlQ&usqp=CAU");
  background-size: cover;
}




